<!DOCTYPE html>
<html>

<head>
	<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/imags/favicon-16x16.png">
<link rel="manifest" href="/images/site.webmanifest">
<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>ADMIN DASHBOARD</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="css/admindash.css">
	<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>

<body>

	<div class="wrapper">
		<div>
			<!-- Sidebar -->
			<%- include('sidebar'); -%>
		</div>
	</div>
	<div style="margin-left:250px;">
		<%- include('headerMenu'); -%>
		<div>
			<h4 style="margin: 20px 40px;" >Dashboard</h4>
        <div style="margin: 20px 40px;" class="card-columns">
			<div class="card border-primary mb-3" style="max-width: 18rem;">
				<div class="card-header"><button class="btn btn-primary" type="submit"> <a href="/view">Faculties</a>
					</button></div>
				<div class="card-body text-primary">
				  <h5 class="card-title"><%= faculty %> Faculties Registered!</h5>
				  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
				</div>
		      </div>
			  <div class="card border-secondary mb-3" style="max-width: 18rem; ">
				<div class="card-header"><button class="btn btn-secondary" type="submit">Internships</button></div>
				<div class="card-body text-secondary">
				  <h5 class="card-title">10 Internships Going!</h5>
				  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
				</div>
			  </div>

			  <div class="card border-danger mb-3" style="max-width: 18rem;">
				<div class="card-header"><button class="btn btn-danger" type="submit"><a href="/students">Students</a> </button></div>
				<div class="card-body text-danger">
				  <h5 class="card-title"><%= student %> Students Registered!</h5>
				  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
				</div>
			  </div>
			  <div class="card border-warning mb-3" style="max-width: 18rem;">
				<div class="card-header"><button class="btn btn-warning" type="submit">Courses</button></div>
				<div class="card-body text-warning">
				  <h5 class="card-title"><%= course %> Coursed Launched!</h5>
				  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
				</div>
			  </div>
			  <div class="card border-info mb-3" style="max-width: 18rem;">
				<div class="card-header"><button class="btn btn-info" type="submit">Applications</button></div>
				<div class="card-body text-info">
				  <h5 class="card-title"><%= application %> Applications!</h5>
				</div>
			  </div>

			  <div class="card border-dark mb-3" style="max-width: 18rem;">
				<div class="card-header"><button class="btn btn-dark" type="submit">Enquiries</button></div>
				<div class="card-body text-dark">
				  <h5 class="card-title"><%= query %> Enquiries!</h5>
				  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
				</div>
			  </div>
		</div>
		</div>
		<div class="card-deck">
			<div style="margin-left: 40px ; width:45%; ">
				<div class="card border-info mb-3" style="position: relative; left: 0px; top: 0px;">
					<div class="card-header ui-sortable-handle" style="cursor: move;">
					  <h3 class="card-title">
						<i class="ion ion-clipboard mr-1"></i>
						To Do List
					  </h3>
		
					  <!-- <div class="card-tools">
						<ul class="pagination pagination-sm">
						  <li class="page-item"><a href="#" class="page-link">«</a></li>
						  <li class="page-item"><a href="#" class="page-link">1</a></li>
						  <li class="page-item"><a href="#" class="page-link">2</a></li>
						  <li class="page-item"><a href="#" class="page-link">3</a></li>
						  <li class="page-item"><a href="#" class="page-link">»</a></li>
						</ul>
					  </div> -->
					</div>
					<!-- /.card-header -->
					<div class="card-body">
					  <ul class="todo-list ui-sortable" data-widget="todo-list">
						<!-- <li> -->
						  <!-- drag handle -->
						  <!-- <span class="handle ui-sortable-handle">
							<i class="fas fa-ellipsis-v"></i>
							<i class="fas fa-ellipsis-v"></i>
						  </span> -->
						  <!-- checkbox -->
						  <!-- <div class="icheck-primary d-inline ml-2">
							<input class="strikethrough" type="checkbox" value="" name="todo1" id="todoCheck1">
							<span class="text">Add second page</span> -->
							<!-- <label for="todoCheck1"></label> -->
						  <!-- </div> -->
						  <!-- todo text -->
						  <!-- <span class="text">Design a nice theme</span> -->
						  <!-- Emphasis label -->
						  <!-- <small class="badge badge-danger"><i class="far fa-clock"></i> 2 mins</small> -->
						  <!-- General tools such as edit or delete-->
						  <!-- <div class="tools">
							<i class="fas fa-edit"></i>
							<i class="fas fa-trash-o"></i>
						  </div>
						</li> -->
						<!-- <li>
						  <span class="handle ui-sortable-handle">
							<i class="fas fa-ellipsis-v"></i>
							<i class="fas fa-ellipsis-v"></i>
						  </span>
						  <div class="icheck-primary d-inline ml-2">
							<input class="strikethrough" type="checkbox" value="" name="todo2" id="todoCheck2">
							<span class="text">Add fourth page</span>
							<label for="todoCheck2"></label>
						  </div>
						  <span class="text">Make the theme responsive</span>
						  <small class="badge badge-info"><i class="far fa-clock"></i>New</small>
						  <div class="tools">
							<i class="fas fa-edit"></i>
							<i class="fas fa-trash-o"></i>
						  </div>
						</li> -->
						<!-- <li>
						  <span class="handle ui-sortable-handle">
							<i class="fas fa-ellipsis-v"></i>
							<i class="fas fa-ellipsis-v"></i>
						  </span>
						  <div class="icheck-primary d-inline ml-2">
							<input class="strikethrough" type="checkbox" value="" name="todo3" id="todoCheck3">
							<span class="text">Add third page</span>
							<label for="todoCheck3"></label>
						  </div>
						  <span class="text">Let theme shine like a star</span>
						  <small class="badge badge-warning"><i class="far fa-clock"></i> 1 day</small>
						  <div class="tools">
							<i class="fas fa-edit"></i>
							<i class="fas fa-trash-o"></i>
						  </div>
						</li> -->

						<% newListItems.forEach(function(item){ %>

							<form action="/delete" method="post">
								<li>
									<div class="icheck-primary d-inline ml-2">
									  <input class="strikethrough" type="checkbox" value="<%=item._id%>" name="checkbox" id="todoCheck3" onchange="this.form.submit()">
									  <span style="margin-left: 10px;" class="text"><%= item.name %></span>
									</div>
									<small class="badge badge-warning"><i class="far fa-clock"></i>New</small>
								</li>
							</form>


							
						<% }) %>
						

					  </ul>
					</div>
					<!-- /.card-body -->
					<form action="/adminDash" method="post">
						
						<div class="card-footer clearfix">
							<input class="form-control" type="text" name="newToDo" placeholder="Add Something..."> <br>
							<button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i> Add item</button>
						  </div>
					</form>
					
				  </div>
				  
			</div>
	
			<div style="margin-left: 8px ;margin-right: 20px ;  width:44%; ">
				<iframe src="https://calendar.zoho.in/zc/ui/embed/#calendar=e946d1f0a6eee9f17d819938d16411780574996168c779ff4819c82fbaa7a36ea6aa2760311ccfd7a0d58a511c13de9d&title=CDAC&type=1&language=en&timezone=Asia%2FKolkata&showTitle=1&showTimezone=1&startingDayOfWeek=0&view=month&showDetail=1&theme=1&showAttendee=1&showAllEvents=0" style="border:solid 1px yellow" width=500 height=500 frameBorder="0" scrolling="no"></iframe>
				<!-- <iframe src="https://calendar.google.com/calendar/embed?height=400&wkst=1&bgcolor=%233F51B5&ctz=Asia%2FKolkata&showTitle=0&src=Y182dXFia2JmZ2VwcWowNjkxaGtxdW1odjZiOEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4uaW5kaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23F6BF26&color=%230B8043" style="border:solid 1px #777" width="500" height="400" frameborder="0" scrolling="no"></iframe> -->
				<!-- <iframe src="https://calendar.google.com/calendar/embed?src=c_6uqbkbfgepqj0691hkqumhv6b8%40group.calendar.google.com&ctz=UTC" style="border: 0" width="500" height="400" frameborder="0" scrolling="no"></iframe> -->
			</div>
		</div>
		

		
	</div>

    
		
	  

    
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

</body>

</html>
