<!DOCTYPE html>
<html>

<head>
	<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/imags/favicon-16x16.png">
<link rel="manifest" href="/images/site.webmanifest">
<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>ADMIN DASHBOARD</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="css/admindash.css">
	<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>

<body>

	<div class="wrapper">
		<div>
			<!-- Sidebar -->
			<%- include('sidebar'); -%>
		</div>
	</div>
	<div style="margin-left:250px;">
		<%- include('headerMenu'); -%>
		<div>
			<h4 style="margin: 20px 40px;" >Dashboard</h4>
        <div style="margin: 20px 40px;" class="card-columns">
			<div class="card border-primary mb-3" style="max-width: 18rem;">
				<div class="card-header"><button class="btn btn-primary" type="submit">Faculties</button></div>
				<div class="card-body text-primary">
				  <h5 class="card-title"><%= faculty %> Faculties Registered!</h5>
				  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
				</div>
		      </div>
			  <div class="card border-secondary mb-3" style="max-width: 18rem; ">
				<div class="card-header"><button class="btn btn-secondary" type="submit">Internships</button></div>
				<div class="card-body text-secondary">
				  <h5 class="card-title">10 Internships Going!</h5>
				  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
				</div>
			  </div>

			  <div class="card border-danger mb-3" style="max-width: 18rem;">
				<div class="card-header"><button class="btn btn-danger" type="submit">Students</button></div>
				<div class="card-body text-danger">
				  <h5 class="card-title"><%= student %> Students Registered!</h5>
				  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
				</div>
			  </div>
			  <div class="card border-warning mb-3" style="max-width: 18rem;">
				<div class="card-header"><button class="btn btn-warning" type="submit">Courses</button></div>
				<div class="card-body text-warning">
				  <h5 class="card-title"><%= course %> Coursed Launched!</h5>
				  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
				</div>
			  </div>
			  <div class="card border-info mb-3" style="max-width: 18rem;">
				<div class="card-header"><button class="btn btn-info" type="submit">Applications</button></div>
				<div class="card-body text-info">
				  <h5 class="card-title"><%= application %> Applications!</h5>
				</div>
			  </div>

			  <div class="card border-dark mb-3" style="max-width: 18rem;">
				<div class="card-header"><button class="btn btn-dark" type="submit">Enquiries</button></div>
				<div class="card-body text-dark">
				  <h5 class="card-title"><%= query %> Enquiries!</h5>
				  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
				</div>
			  </div>
		</div>
		</div>
		<div class="card-deck">
			<div style="margin-left: 40px ; width:45%; ">
				<div class="card" style="position: relative; left: 0px; top: 0px;">
					<div class="card-header ui-sortable-handle" style="cursor: move;">
					  <h3 class="card-title">
						<i class="ion ion-clipboard mr-1"></i>
						To Do List
					  </h3>
		
					  <div class="card-tools">
						<ul class="pagination pagination-sm">
						  <li class="page-item"><a href="#" class="page-link">«</a></li>
						  <li class="page-item"><a href="#" class="page-link">1</a></li>
						  <li class="page-item"><a href="#" class="page-link">2</a></li>
						  <li class="page-item"><a href="#" class="page-link">3</a></li>
						  <li class="page-item"><a href="#" class="page-link">»</a></li>
						</ul>
					  </div>
					</div>
					<!-- /.card-header -->
					<div class="card-body">
					  <ul class="todo-list ui-sortable" data-widget="todo-list">
						<!-- <li> -->
						  <!-- drag handle -->
						  <!-- <span class="handle ui-sortable-handle">
							<i class="fas fa-ellipsis-v"></i>
							<i class="fas fa-ellipsis-v"></i>
						  </span> -->
						  <!-- checkbox -->
						  <!-- <div class="icheck-primary d-inline ml-2">
							<input class="strikethrough" type="checkbox" value="" name="todo1" id="todoCheck1">
							<span class="text">Add second page</span> -->
							<!-- <label for="todoCheck1"></label> -->
						  <!-- </div> -->
						  <!-- todo text -->
						  <!-- <span class="text">Design a nice theme</span> -->
						  <!-- Emphasis label -->
						  <!-- <small class="badge badge-danger"><i class="far fa-clock"></i> 2 mins</small> -->
						  <!-- General tools such as edit or delete-->
						  <!-- <div class="tools">
							<i class="fas fa-edit"></i>
							<i class="fas fa-trash-o"></i>
						  </div>
						</li> -->
						<!-- <li>
						  <span class="handle ui-sortable-handle">
							<i class="fas fa-ellipsis-v"></i>
							<i class="fas fa-ellipsis-v"></i>
						  </span>
						  <div class="icheck-primary d-inline ml-2">
							<input class="strikethrough" type="checkbox" value="" name="todo2" id="todoCheck2">
							<span class="text">Add fourth page</span>
							<label for="todoCheck2"></label>
						  </div>
						  <span class="text">Make the theme responsive</span>
						  <small class="badge badge-info"><i class="far fa-clock"></i>New</small>
						  <div class="tools">
							<i class="fas fa-edit"></i>
							<i class="fas fa-trash-o"></i>
						  </div>
						</li> -->
						<!-- <li>
						  <span class="handle ui-sortable-handle">
							<i class="fas fa-ellipsis-v"></i>
							<i class="fas fa-ellipsis-v"></i>
						  </span>
						  <div class="icheck-primary d-inline ml-2">
							<input class="strikethrough" type="checkbox" value="" name="todo3" id="todoCheck3">
							<span class="text">Add third page</span>
							<label for="todoCheck3"></label>
						  </div>
						  <span class="text">Let theme shine like a star</span>
						  <small class="badge badge-warning"><i class="far fa-clock"></i> 1 day</small>
						  <div class="tools">
							<i class="fas fa-edit"></i>
							<i class="fas fa-trash-o"></i>
						  </div>
						</li> -->

						<% newListItems.forEach(function(item){ %>
							<li>
								<div class="icheck-primary d-inline ml-2">
								  <input class="strikethrough" type="checkbox" value="" name="todo3" id="todoCheck3">
								  <span style="margin-left: 10px;" class="text"><%= item.name %></span>
								</div>
								<small class="badge badge-warning"><i class="far fa-clock"></i>New</small>
							</li>
						<% }) %>
						

					  </ul>
					</div>
					<!-- /.card-body -->
					<form action="/adminDash" method="post">
						
						<div class="card-footer clearfix">
							<input type="text" name="newToDo" placeholder="Add Something...">
							<button type="submit" class="btn btn-primary float-right"><i class="fas fa-plus"></i> Add item</button>
						  </div>
					</form>
					
				  </div>
				  
			</div>
	
			<div style="margin-left: 8px ;margin-right: 20px ;  width:44%; ">
				<div class="card bg-gradient-success">
					<div class="card-header border-0 ui-sortable-handle" style="cursor: move;">
	  
					  <h3 class="card-title">
						<i class="far fa-calendar-alt"></i>
						Calendar
					  </h3>
					  <!-- tools card -->
					  <div class="card-tools">
						<!-- button with a dropdown -->
						<div class="btn-group">
						  <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" data-offset="-52">
							<i class="fas fa-bars"></i>
						  </button>
						  <div class="dropdown-menu" role="menu">
							<a href="#" class="dropdown-item">Add new event</a>
							<a href="#" class="dropdown-item">Clear events</a>
							<div class="dropdown-divider"></div>
							<a href="#" class="dropdown-item">View calendar</a>
						  </div>
						</div>
						<button type="button" class="btn btn-success btn-sm" data-card-widget="collapse">
						  <i class="fas fa-minus"></i>
						</button>
						<button type="button" class="btn btn-success btn-sm" data-card-widget="remove">
						  <i class="fas fa-times"></i>
						</button>
					  </div>
					  <!-- /. tools -->
					</div>
					<!-- /.card-header -->
					<div class="card-body pt-0">
					  <!--The calendar -->
					  <div id="calendar" style="width: 100%"><div class="bootstrap-datetimepicker-widget usetwentyfour"><ul class="list-unstyled"><li class="show"><div class="datepicker"><div class="datepicker-days" style=""><table class="table table-sm"><thead><tr><th class="prev" data-action="previous"><span class="fa fa-chevron-left" title="Previous Month"></span></th><th class="picker-switch" data-action="pickerSwitch" colspan="5" title="Select Month">July 2022</th><th class="next" data-action="next"><span class="fa fa-chevron-right" title="Next Month"></span></th></tr><tr><th class="dow">Su</th><th class="dow">Mo</th><th class="dow">Tu</th><th class="dow">We</th><th class="dow">Th</th><th class="dow">Fr</th><th class="dow">Sa</th></tr></thead><tbody><tr><td data-action="selectDay" data-day="06/26/2022" class="day old weekend">26</td><td data-action="selectDay" data-day="06/27/2022" class="day old">27</td><td data-action="selectDay" data-day="06/28/2022" class="day old">28</td><td data-action="selectDay" data-day="06/29/2022" class="day old">29</td><td data-action="selectDay" data-day="06/30/2022" class="day old">30</td><td data-action="selectDay" data-day="07/01/2022" class="day">1</td><td data-action="selectDay" data-day="07/02/2022" class="day weekend">2</td></tr><tr><td data-action="selectDay" data-day="07/03/2022" class="day weekend">3</td><td data-action="selectDay" data-day="07/04/2022" class="day">4</td><td data-action="selectDay" data-day="07/05/2022" class="day">5</td><td data-action="selectDay" data-day="07/06/2022" class="day">6</td><td data-action="selectDay" data-day="07/07/2022" class="day">7</td><td data-action="selectDay" data-day="07/08/2022" class="day">8</td><td data-action="selectDay" data-day="07/09/2022" class="day weekend">9</td></tr><tr><td data-action="selectDay" data-day="07/10/2022" class="day weekend">10</td><td data-action="selectDay" data-day="07/11/2022" class="day">11</td><td data-action="selectDay" data-day="07/12/2022" class="day">12</td><td data-action="selectDay" data-day="07/13/2022" class="day active today">13</td><td data-action="selectDay" data-day="07/14/2022" class="day">14</td><td data-action="selectDay" data-day="07/15/2022" class="day">15</td><td data-action="selectDay" data-day="07/16/2022" class="day weekend">16</td></tr><tr><td data-action="selectDay" data-day="07/17/2022" class="day weekend">17</td><td data-action="selectDay" data-day="07/18/2022" class="day">18</td><td data-action="selectDay" data-day="07/19/2022" class="day">19</td><td data-action="selectDay" data-day="07/20/2022" class="day">20</td><td data-action="selectDay" data-day="07/21/2022" class="day">21</td><td data-action="selectDay" data-day="07/22/2022" class="day">22</td><td data-action="selectDay" data-day="07/23/2022" class="day weekend">23</td></tr><tr><td data-action="selectDay" data-day="07/24/2022" class="day weekend">24</td><td data-action="selectDay" data-day="07/25/2022" class="day">25</td><td data-action="selectDay" data-day="07/26/2022" class="day">26</td><td data-action="selectDay" data-day="07/27/2022" class="day">27</td><td data-action="selectDay" data-day="07/28/2022" class="day">28</td><td data-action="selectDay" data-day="07/29/2022" class="day">29</td><td data-action="selectDay" data-day="07/30/2022" class="day weekend">30</td></tr><tr><td data-action="selectDay" data-day="07/31/2022" class="day weekend">31</td><td data-action="selectDay" data-day="08/01/2022" class="day new">1</td><td data-action="selectDay" data-day="08/02/2022" class="day new">2</td><td data-action="selectDay" data-day="08/03/2022" class="day new">3</td><td data-action="selectDay" data-day="08/04/2022" class="day new">4</td><td data-action="selectDay" data-day="08/05/2022" class="day new">5</td><td data-action="selectDay" data-day="08/06/2022" class="day new weekend">6</td></tr></tbody></table></div><div class="datepicker-months" style="display: none;"><table class="table-condensed"><thead><tr><th class="prev" data-action="previous"><span class="fa fa-chevron-left" title="Previous Year"></span></th><th class="picker-switch" data-action="pickerSwitch" colspan="5" title="Select Year">2022</th><th class="next" data-action="next"><span class="fa fa-chevron-right" title="Next Year"></span></th></tr></thead><tbody><tr><td colspan="7"><span data-action="selectMonth" class="month">Jan</span><span data-action="selectMonth" class="month">Feb</span><span data-action="selectMonth" class="month">Mar</span><span data-action="selectMonth" class="month">Apr</span><span data-action="selectMonth" class="month">May</span><span data-action="selectMonth" class="month">Jun</span><span data-action="selectMonth" class="month active">Jul</span><span data-action="selectMonth" class="month">Aug</span><span data-action="selectMonth" class="month">Sep</span><span data-action="selectMonth" class="month">Oct</span><span data-action="selectMonth" class="month">Nov</span><span data-action="selectMonth" class="month">Dec</span></td></tr></tbody></table></div><div class="datepicker-years" style="display: none;"><table class="table-condensed"><thead><tr><th class="prev" data-action="previous"><span class="fa fa-chevron-left" title="Previous Decade"></span></th><th class="picker-switch" data-action="pickerSwitch" colspan="5" title="Select Decade">2020-2029</th><th class="next" data-action="next"><span class="fa fa-chevron-right" title="Next Decade"></span></th></tr></thead><tbody><tr><td colspan="7"><span data-action="selectYear" class="year old">2019</span><span data-action="selectYear" class="year">2020</span><span data-action="selectYear" class="year">2021</span><span data-action="selectYear" class="year active">2022</span><span data-action="selectYear" class="year">2023</span><span data-action="selectYear" class="year">2024</span><span data-action="selectYear" class="year">2025</span><span data-action="selectYear" class="year">2026</span><span data-action="selectYear" class="year">2027</span><span data-action="selectYear" class="year">2028</span><span data-action="selectYear" class="year">2029</span><span data-action="selectYear" class="year old">2030</span></td></tr></tbody></table></div><div class="datepicker-decades" style="display: none;"><table class="table-condensed"><thead><tr><th class="prev" data-action="previous"><span class="fa fa-chevron-left" title="Previous Century"></span></th><th class="picker-switch" data-action="pickerSwitch" colspan="5">2000-2090</th><th class="next" data-action="next"><span class="fa fa-chevron-right" title="Next Century"></span></th></tr></thead><tbody><tr><td colspan="7"><span data-action="selectDecade" class="decade old" data-selection="2006">1990</span><span data-action="selectDecade" class="decade" data-selection="2006">2000</span><span data-action="selectDecade" class="decade" data-selection="2016">2010</span><span data-action="selectDecade" class="decade active" data-selection="2026">2020</span><span data-action="selectDecade" class="decade" data-selection="2036">2030</span><span data-action="selectDecade" class="decade" data-selection="2046">2040</span><span data-action="selectDecade" class="decade" data-selection="2056">2050</span><span data-action="selectDecade" class="decade" data-selection="2066">2060</span><span data-action="selectDecade" class="decade" data-selection="2076">2070</span><span data-action="selectDecade" class="decade" data-selection="2086">2080</span><span data-action="selectDecade" class="decade" data-selection="2096">2090</span><span data-action="selectDecade" class="decade old" data-selection="2106">2100</span></td></tr></tbody></table></div></div></li><li class="picker-switch accordion-toggle"></li></ul></div></div>
					</div>
					<!-- /.card-body -->
				  </div>
			</div>
		</div>
		

		
	</div>

    
		
	  


    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

</body>

</html>
