<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/imags/favicon-16x16.png">
<link rel="manifest" href="/images/site.webmanifest">
<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CDAC Silchar</title>
    <!-- CSS Link -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Font styles -->
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Open+Sans:wght@300&family=Overpass:wght@300&family=Roboto+Mono:wght@300&family=Source+Sans+Pro:wght@300&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <!-- Icon libraray -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <!-- HEADER -->
    <%- include('header'); -%>


    <!-- NAVIGATION BAR -->
    <%- include('navbar'); -%>

    <!-- SECTION-1-->
    <section id="section">
        <div class="section-left">
            <div class="list-head"><span>Jobs Available</span></div>
            <div class="list">
                <ul>

                    <li class="list-item"><a href="https://careers.cdac.in/advt-details/CORP-672022-U5PEP">C-DAC Invites online applications for the post of Executive Director (Level 14) to be filled by Direct Recruitment/Transfer (absorption)/Deputation.</a></li>
                    <li class="list-item"><a href="https://careers.cdac.in/advt-details/CORP-572022-1P5YH">C-DAC invites applications for various Group A S&T and Non S&T posts</a></li>
                    <li class="list-item"><a href="https://lnkd.in/dC9V_4eV ">Apply for Vega Processors</a></li>

                  <% job.forEach(function(job) { %>
                    <li class="list-item"><a href="<%= job.link %>" target="_blank"><%= job.username %></a></li>
                  <% }) %>
                    <!-- <li class="list-item"><a href="https://careers.cdac.in/advt-details/CORP-672022-U5PEP">C-DAC Invites online applications for the post of Executive Director (Level 14) to be filled by Direct Recruitment/Transfer (absorption)/Deputation.</a></li>
                    <li class="list-item"><a href="https://lnkd.in/dC9V_4eV ">Apply for Vega Processors</a></li>
                    <li class="list-item"><a href="#">Link3</a></li> -->

                </ul>
            </div>
            <div class="list-head"><span>Education &amp; Training Programs</span></div>
            <div class="list">
                <ul>

                    <% program.forEach(function(program) { %>
                        <li class="list-item"><a href="<%= program.link %>"><%= program.username %></a></li>
                      <% }) %>

                    <!-- <li class="list-item"><a href="https://www.cdac.in/index.aspx?id=newregister1">Register for C-CAT (September-22)</a></li>
                    <li class="list-item"><a href="https://www.cdac.in/index.aspx?id=DAC&courseid=0">PG-Diploma Courses (September-22)</a></li>
                    <li class="list-item"><a href="https://bit.ly/3tfgf0A">Free Courses for Scheduled Tribe Students</a></li> -->

                    <% program.forEach(function(program) { %>
                        <li class="list-item"><a href="<%= program.link %>"><%= program.username %></a></li>
                    <% }) %>

                    <!-- <li class="list-item"><a href="https://www.cdac.in/index.aspx?id=edu_pgpd_pgd_programmes">Post Graduate Diploma Programmes</a></li>
                    <li class="list-item"><a href="https://www.cdac.in/index.aspx?id=edu_ftp_formal_training_programmes">Formal Training Programmes</a></li>
                    <li class="list-item"><a href="https://www.cdac.in/index.aspx?id=edu_ctp_corp_training_programmes">Corporate Training Programmes</a></li>
                    <li class="list-item"><a href="https://www.cdac.in/index.aspx?id=edu_its_int_training_programmes">International Training Programmes</a></li> -->

                </ul>
            </div>
        </div>

        <div class="section-mid">
            <div class="bg fade">
                <img src="img/cdac1.jpeg" style="width:100%">
            </div>

            <div class="bg fade">
                <img src="img/cdac2.jpg" style="width:100%">
            </div>

            <div class="bg fade">
                <img src="img/cdac3.jpg" style="width:100%">
            </div>
            <div class="bg fade">
                <img src="img/cdac4.jpeg" style="width:100%">
            </div>

            <div style="text-align:center" class="dots-div">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>

        <div class="section-right">
            <div class="section-right-head">Latest Updates</div>
            <hr>
            <div class="section-right-content">
                <marquee width="100%" direction="up" height="100%" scrolldelay="100">
                    <ul>
                      <% update.forEach(function(update) { %>
                        <li class="content"><a href="pdfs/<%= update.link %>" target="_blank" class="font1"><%= update.name %></a></li>
                      <% }) %>
                    </ul>
                </marquee>
            </div>
        </div>
        </div>
    </section>


    <!-- SECTION-2 -->
    <section id="section-2">
        <div class="more-about">
            <div class="more-about-box">
                <a href="/gallery"> Video Gallery</a>
            </div>
            <div class="more-about-box">
                <a href="/event"> Events</a>
            </div>
            <div class="more-about-box">
                <a href="https://www.cdac.in/"> C-DAC main Website</a>
            </div>
            <div class="more-about-box">
                <a href="https://www.cdac.in/index.aspx?id=cdac_achievements"> C-DAC's Achievements</a>
            </div>
        </div>
    </section>


    <!-- FOOTER -->
    <%- include('footer'); -%>


    <!-- SCRIPT LINK -->
    <script src="js/script.js"></script>

    <style>
    .alert {
      /* padding: 20px;
      background-color: #f44336; /* Red */
      /* color: white; */
      /* margin-bottom: 15px; */
      padding: 5px;
      /* background-color: #0bff00; */
      color: black;
      }

      /* The close button */
      .closebtn {
      margin-left: 15px;
      color: black;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
      }

      /* When moving the mouse over the close button */
      .closebtn:hover {
      color: black;
      }
    </style>

</body>

</html>
