<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- CSS Link -->
    <link rel="stylesheet" href="/css/courses.css">

    <!-- Font styles -->
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Overpass:wght@300&family=Roboto+Mono:wght@300&family=Ubuntu&display=swap" rel="stylesheet">

    <!-- Icon libraray -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/courses.css">
</head>

<body>
    <!-- HEADER -->
    <%- include('header'); -%>


    <!-- NAVIGATION BAR -->
    <%- include('navbar'); -%>

    <!-- <% if(error && error.length>0) { %>
      <div class="alert" style="background-color: red;">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <div style="font-size: larger;" class="alert alert-danger" role="alert">
            <p style="text-align: center;"><%= error %></p>
        </div>
      </div>
    <% } %>
    <% if(success && success.length>0) { %>
      <div class="alert" style="background-color: #0bff00;">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <div style="font-size: larger;" class="alert alert-danger" role="alert">
            <p style="text-align: center;"><%= success %></p>
        </div>
      </div>
    <% } %> -->


    <div class="container" style="padding-left: 15%; width: -webkit-fill-available;">
        <div id="section">
          <div class="section-bar" style="text-align-last: center; display: block; font-size: 23px;">
              <strong class="font3">Edit Profile</strong>
          </div>
            <form action="/dash_index/edit?_method=PUT" method="POST">
            <div class="profile">
                <div class="info">
                    <hr>
                    <div class="info-row">
                        <div class="data">Firstname</div>
                        <input type="text" id="inputText" class="inputs" name="firstname" value="<%= student.firstname %>">
                    </div>
                    <hr>
                    <div class="info-row">
                        <div class="data">Lastname</div>
                        <input type="text" id="inputText" class="inputs" name="lastname" value="<%= student.lastname %>">
                    </div>
                    <hr>
                    <div class="info-row">
                        <div class="data">Username</div>
                        <input type="text" id="inputText" class="inputs" name="username" value="<%= student.username %>">
                    </div>
                    <hr>
                    <div class="info-row">
                        <div class="data">Date of Birth</div>
                        <input type="text" id="inputText" class="inputs" name="dob" value="<%= student.dob %>">
                    </div>
                    <hr>
                    <div class="info-row">
                        <div class="data">Highest Qualification</div>
                        <input type="text" id="inputText" class="inputs" name="qualification" value="<%= student.qualification %>">
                    </div>
                    <hr>
                    <div class="info-row">
                        <div class="data">Designation</div>
                        <input type="text" id="inputText" class="inputs" name="Designation" value="<%= student.Designation %>">
                    </div>
                    <hr>
                    <div class="info-row">
                        <div class="data">Department</div>
                        <input type="text" id="inputText" class="inputs" name="Department" value="<%= student.Department %>">
                    </div>
                    <hr>
                    <div class="info-row">
                        <div class="data">Area of specialization/ Interest</div>
                        <input type="text" id="inputText" class="inputs" name="AreaOfSpecialization" value="<%= student.AreaOfSpecialization %>">
                    </div>
                    <div class="related-to">Institute/ Organization Details</div>
                    <div class="info-row">
                        <div class="data">Name</div>
                        <input type="text" id="inputText" class="inputs" name="InstituteName" value="<%= student.Institute.name %>">
                    </div>
                    <hr>
                    <div class="info-row">
                        <div class="data">Place</div>
                        <input type="text" id="inputText" class="inputs" name="InstitutePlace" value="<%= student.Institute.place %>">
                    </div>
                    <hr>
                    <div class="info-row">
                        <div class="data">State</div>
                        <input type="text" id="inputText" class="inputs" name="InstituteState" value="<%= student.Institute.state %>">
                    </div>
                    <hr>
                    <div class="info-row">
                        <div class="data">Nature</div>
                        <input type="text" id="inputText" class="inputs" name="InstituteNature" value="<%= student.Institute.nature %>">
                    </div>
                    <hr>
                    <div class="info-row">
                        <div class="data">Type</div>
                        <input type="text" id="inputText" class="inputs" name="InstituteType" value="<%= student.Institute.type %>">
                    </div>
                    <div class="related-to">Address for Corresspondence</div>
                    <div class="info-row">
                        <div class="data">Address</div>
                        <input type="text" id="inputText" class="inputs" name="address" value="<%= student.address %>">
                    </div>
                    <hr>
                    <div class="info-row">
                        <div class="data">State</div>
                        <input type="text" id="inputText" class="inputs" name="state" value="<%= student.state %>">
                    </div>
                    <hr>
                    <div class="info-row">
                        <div class="data">District</div>
                        <input type="text" id="inputText" class="inputs" name="district" value="<%= student.district %>">
                    </div>
                    <hr>
                    <div class="info-row">
                        <div class="data">Pincode</div>
                        <input type="text" id="inputText" class="inputs" name="pincode" value="<%= student.pincode %>">
                    </div>
                    <hr>
                    <!-- <div class="info-row">
                        &nbsp;
                    </div>
                    <hr> -->
                    <div class="info-row">
                        <div class="data">Phone No.</div>
                        <input type="text" id="inputText" class="inputs" name="MobileNo" value="<%= student.MobileNo %>">
                    </div>
                    <hr>
                    <div class="info-row">
                        <div class="data">Email ID</div>
                        <input type="text" id="inputText" class="inputs" name="email" value="<%= student.email %>">
                    </div>
                    <hr>
                    <button class="btn-secondary" style="background-color: cornflowerblue; padding: 0.5em;">Submit</button>
                </div>
                <!-- <div class="photo">
                    <img src="img/photo.png" alt="No Photo Available">
                    <div class="change">
                        <a href="#" class="font3">Upload Photo</a>
                    </div>
                </div> -->
            </div>
            </form>
        </div>
    </div>


    <!-- FOOTER -->
    <%- include('footer'); -%>

    <style>
    input {
          width: 75%;
      border-right: hidden;
      border-block: none;
      padding-left: 8em;
      /* inline-size: -webkit-fill-available; */
    }
    .alert {
      padding: 5px;
      color: black;
      }

      /* The close button */
      .closebtn {
      margin-left: 15px;
      color: black;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
      }

      /* When moving the mouse over the close button */
      .closebtn:hover {
      color: black;
      }
      /* CSS Reset */
      *{
          margin: 0px;
          padding: 0px;
          box-sizing: border-box;
          scroll-behavior: smooth;
      }
      /* *::-webkit-scrollbar {
          display: none;                 ***** TO REMOVE THE SCROLL BAR FROM SCREEN *****
      } */



      /* CONTAINER */
      .container{
          display: flex;
          height: 100%;
          background-color: white;
      }

      /* CONTAINER - ASIDE */

      #aside{
          height: 680px;
          width: 25%;
          /* background-color: yellow; */
          margin: 2rem;
      }

      .aside-list{
          list-style: none;
          margin: 0px;
          padding: 0px;
          border-radius: 10px;
      }

      .aside-item:hover,.aside-item:hover a div{
          background-color: cornflowerblue;
          color: white;
      }

      .aside-item a{
          text-decoration: none;
          color: rgb(31, 31, 31);
      }
      .aside-item a div{
          border: 1px solid grey;
          margin-top: -1px;
          padding: 12px 28px;
          background-color: #f5f7fa;
      }

      /*  CONTAINER - SECTION */

      #section{
          height: 100%;
          width: 75%;
          border: 1px solid #e3e4e5;
          border-radius: 5px;
          margin: 2rem;
          overflow: hidden;
      }
      #section h1{
          text-align: center;
          margin-top: 4px;
      }
      .section-bar{
          display: flex;
          align-items: center;
          justify-content:space-between;
          background-color: cornflowerblue;
          padding: 10px 0px;
      }
      .section-bar strong{
          margin: 0rem 2rem;
      }
      #search-course{
          margin: 0rem 2rem;
      }
      .logout{
          margin-right: 2rem;
      }
      .logout-btn{
          border: none;
          padding: 7px 12px;
      }

      .profile{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          height: 100%;
      }
      .photo{
          /* background-color: #007bb5; */
          width: 200px;
          margin-left: 2rem;
          margin-right: 2rem;
          height: 100%;
      }
      .photo img{
          height: 15rem;
          width: 200px;
          margin: auto;
      }
      .change{
          display: flex;
          justify-content: center;
          border-radius: 3px;
          border: 1px solid grey;
      }
      .change a{
          text-decoration: none;
          padding: 2px 2px;
          color: black;
          font-size: 12px;
      }
      .change:hover,.change:hover a{
          background-color:cornflowerblue;
          color: white;
      }
      .info{
          border-radius: 5px;
          height: 100%;
          margin-left: 2rem;
          margin-top: 2px;
          width: 100%;
      }
      .info-row{
          display: flex;
          flex-direction: row;
      }
      .related-to{
          background-color: #f5f7fa;
          padding: 6px;
          font-family: 'Baloo Bhai 2', cursive;
      }
      .data{
          width: 50%;
          padding: 3px 10px;
          font-family: 'Overpass', sans-serif;

      }
      .info button{
          display: block;
          margin: 10px auto;
          padding: 5px;
      }


      /* FOOTER */
      #footer{
          height: 120px;
          background-color: cadetblue;
          color: rgb(31, 31, 31);
          text-align: center;
      }
      .other-links{
          margin-top: 5px;
      }
      .presskit-links{
          color: white;
          font-size: 0.9rem;
      }
      .copyrights{
          text-decoration: none;
          color: white;
          font-size: 0.9rem;
      }



      /* *******************  Utility Classes  ******************** */

      /* Fonts used */
      .font1{
          font-family: 'Baloo Bhai 2', cursive;
      }
      .font2{
          font-family: 'Ubuntu', sans-serif;
      }
      .font3{
          font-family: 'Roboto Mono', monospace;
      }
      .font4{
          font-family: 'Overpass', sans-serif;
      }
      .font5{
          font-family: 'Source Sans Pro', sans-serif;
          font-weight: 600;
      }
      .font6{
          font-family: 'Open Sans', sans-serif;
      }
      .clr{
          color: rgb(31, 31, 31);
      }

      /* external social icons */
      .fa {
          padding: 6px;
          font-size: 30px;
          width: 30px;
          text-align: center;
          text-decoration: none;
          margin: 12px 10px;
          border-radius: 3px;
      }
      .fa:hover{
          transform: scale(1.14);
          transition: all 0.3s;
      }

      .fa-facebook {
          background: #3B5998;
          color: white;
      }
      .fa-twitter {
          background: #55ACEE;
          color: white;
      }
      .fa-linkedin {
          background: #007bb5;
          color: white;
      }
      .fa-instagram {
          background: #8a3ab9;
          color: white;
      }
      .fa-search{
          background-color: transparent;
          color: #007bb5;
          transform: scale(1.06);
          padding: 8px 2px;
          margin: 2px 3px;
      }


        /* Buttons */
      .btn-primary{
          border: 1px solid lightgrey;
          border-radius: 2px;
          cursor: pointer;
          height: 32px;
          width: 36px;
      }

      .btn-secondary{
          border-radius: 2px;
          outline: none;
          font-size: 13px;
          color: black;
          border: 1px solid grey;
          background-color: white;
          font-family: 'Ubuntu', sans-serif;
      }
      .btn-secondary:hover{
          cursor: pointer;
          transform: scale(1.07);
          background-color:#0062e4 ;
          color: white;
      }





      /* ************************************************** CSS For Courses Page *************************************************** */

      /* COURSES-SECTION */
      #course-section{
          height: 100%;
          width: 75%;
          margin-top: -1px;
          border: 1px solid #e3e4e5;
          border-radius: 10px;
          margin: 2rem;
          overflow: hidden;
      }
      .courses-list{
          height: 600px;
          display: grid;
          grid-template-columns: repeat(2,auto);
          grid-gap: 2rem;
          margin: 2rem;
          overflow: scroll;
      }
      /* .courses-list::-webkit-scrollbar {
          display: none;
      } */
      .course-card{
          height: 165px;
          border: 1px solid grey;
          display: flex;
          flex-direction: column;
          height: 100%;
          background-color: #f5f7fa;
          border-radius: 3px;
      }
      .card-content{
          margin: 1rem 1rem;
      }
      #card-name{
          font-size: 20px;
      }
      #card-branch{
          font-size: 16px;

      }
      #meta-data{
          display: flex;
          flex-direction: column;
          font-size: 14px;
          margin-top: 1rem;
      }
      .card-info{
          padding: 2px 0px;
      }

      .btn3{
          padding: 5px 6px;
          border: 1px solid #e3e4e5;
          border-radius: 3px;
          cursor: pointer;
          position: relative;
          right: 1rem;
          bottom: 1rem;
          align-self: flex-end;
          justify-self: flex-end;
          background-color: cornflowerblue;
      }
      .btn3 a{
          color: white;
          text-decoration: none;
          padding: 5px 6px;
      }
      .btn3:hover,.btn3:hover a{
          /* color: #0062e4; */
          background-color: #0062e4;
          color: white;
          transform: scale(0.96);
      }

      /*************************************************** CSS For About course Page ****************************************************/

      /* COURSE - NAVBAR */
      #course-navbar{
          position: sticky;
          top: 0px;
          left: 0px;
          background-color: white;
      }
      .course-navbar-item{
          border-bottom: 1px solid grey;
      }
      .course-navbar-item  ul{
          display: flex;
          list-style: none;
          margin-left: 1rem;
      }
      .course-item{
          padding: 3px 4px;
          margin: 1.5rem 1.5rem;
      }
      .course-item a{
          color: rgb(31, 31, 31);
          text-decoration:none;
          font-size: 1.1rem;
          font-weight: 600;
      }
      .course-item a:hover{
          text-decoration: underline;
          color:#0062e4;
      }
      .active a{
          color: #0062e4;
          font-weight: bold;
          font-size: 1.2rem;
      }

      /* COURSE - SECTION 1 */
      #course-section1{
          display: flex;
          justify-content: space-between;
      }
      .course-section1-content{
          width: fit-content;
          margin: 2rem;
      }
      .course-section1-content span{
          font-size: 28px;
          font-weight: bolder;
          color: rgb(31, 31, 31);
      }
      .course-section1-content p{
          margin: 2rem 0rem;
          font-weight: 600;
          font-size: medium;
      }
      .product-glance{
          display: flex;
          flex-direction: column;
          margin: 2rem;
          margin-right: 4rem;
          margin-left: 1rem;
      }
      .product-glance-item{
          display: flex;
          margin: 1rem 0rem;
          width: 400px;
      }
      .productglance-img{
          -webkit-box-align: center;
          -webkit-box-pack: center;
          width: 44px;
          height: 44px;
          border-radius: 50%;
          margin: 0rem 1rem;
          border: 2px solid rgb(225, 225, 225);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
      }

      .sub{
          font-size: 24px;
          font-weight: bold;
      }

      /* COURSE - SECTION 2 */
      #course-section2{
          margin: 0rem 2rem;
          border-top: 1px solid grey;
          border-bottom: 1px solid grey;
      }
      #head{
          font-size: 28px;
          font-weight: bolder;
          color: rgb(31, 31, 31);
      }
      .instructor-data{
          display: flex;
          flex-direction: row;
          margin: 2rem 0rem;
      }
      .instructor-data img{
          height: 120px;
          width: 120px;
          border-radius: 50%;
          margin-left: 5px;
      }
      #head2{
          font-size: 22px;
      }
      .data{
          display: flex;
          flex-direction: column;
          margin-left: 2rem;
          font-size: 15px;
      }

      /* COURSE - SECTION 3 */
      #course-section3{
          margin: 1rem 2rem;
          margin-top: 3rem;
      }
      #course-section3 span{
          font-size: 28px;
          font-weight: bolder;
          color: rgb(31, 31, 31);
      }
      .syllabus{
          margin: 1rem 0rem;
          color: rgb(31, 31, 31);
      }

      /* COURSE - SECTION 4 */
      #course-section4{
          display: flex;
          border-top: 1px solid grey;
          border-bottom: 1px solid grey;
          justify-content: space-between;
          margin: 3rem 0rem;
          margin-bottom: 0px;
      }
      .course-enroll{
          display: flex;
          margin: auto 2rem;
          flex-direction: column;
      }
      .course-enroll span{
          font-size: 28px;
      }
      .course-enroll a{
          text-decoration: none;
          color: #0062e4;
          font-size: 17px;
      }
      .course-enroll-info{
          width: 400px;
          margin: auto;
      }

      .course-enroll-info span{
          font-size: 25px;
      }
      .course-enroll-info p{
          margin: 1rem 0rem;
      }

      .cert-img{
          margin: 3rem 2rem;
          margin-right: 10rem;
      }
      .cert-img img{
          height: 200px;
          width: 270px;
      }
      .btn4{
          outline: none;
          border: 1px solid rgb(225, 225, 225);
          border-radius: 2px;
          padding: 30px;
          font-size: 20px;
          margin-top: 2rem;
          background-color: #0062e4;
          color: rgb(225, 225, 225);
          cursor: pointer;
      }
      .btn4:hover{
          background-color:#1f5eb1 ;
          color: white;
          transform: scale(0.96);
      }

      /* COURSE - SECTION 5 */
      #course-section5{
          background-color: #f5f7fa;
          display: flex;
          flex-direction: column;
          align-items: center;
      }
      #course-section5 h1{
          margin: 4rem;
      }
      .faq{
          width: 60%;
          margin-bottom: 3rem;
      }
      .faq ul{
          list-style: none;
      }
      .faq-div{
          padding: 1.2rem;
          margin: 1rem;
          border: 1px solid #e3e4e5;
          background-color: white;
      }
      .dropdown-faq{
          display: flex;
          flex-direction: row;
      }
      .dropdown-faq p{
          margin: 0rem 2rem;
          font-weight: 500;
          font-size: 18px;
      }
      .dropdown-faq img{
          height: 17px;
          width: 10px;
          align-self: center;
      }
      .faq-content{
          font-size: 17px;
          font-weight: 500;
          padding: 2rem 2.9rem ;
          padding-bottom: 1rem;
          display: none;
      }
      .show{
          display: block;
      }


      /************************************************ Courses-Enrolled Page CSS ****************************************** */

      .enrolled-courses-list{
          margin: 2rem;
      }
      .download-card{
          display: flex;
          flex-direction: row;
          height: 80px;
          justify-content: space-between;
          border: 1px solid grey;
          background-color: #f5f7fa;
          border-radius: 2px;
          margin: 1rem 0rem;
      }
      .download-card-content{
          margin: 1rem 1rem;
          align-self: center;
      }
      #download-card-name{
          font-size: 20px;
      }
      #download-card-branch{
          font-size: 15px;
      }
      .btn5{

          border: 1px solid gray;
          border-radius: 3px;
          cursor: pointer;
          align-self: center;
          margin-right: 1rem;
          background-color: cornflowerblue;
      }
      .btn5 a{
          color: rgb(31, 31, 31);
          text-decoration: none;
      }
      .btn5 a div{
          padding: 5px 4px;
          display: flex;
          align-items: center;
      }
      .btn5 a img{
          height: 20px;
          width: 20px;
      }
      .btn5:hover,.btn5:hover a{
          /* color: #0062e4; */
          background-color:#0062e4;
          border: 1px solid darkgrey;
          border-radius: 3px;

          color: white;
          transform: scale(0.98);
      }
    </style>

</body>

</html>
